# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\MARZENA\Desktop\KURS_TESTER\TESTER AUTOMATYZUJĄCY\PLIKI\Zadanie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
